In [1]:
import pandas as pd
pd.DataFrame({"Name":['Bob', 'Sam', 'Anne'],"Marks":[76,25,92]})

   Name  Marks
0   Bob     76
1   Sam     25
2  Anne     92

In [2]:
import pandas as pd
pd.DataFrame({'Name':['Harry', 'Matt', 'Bob', 'John'], 'Scores':[78, 80, 90, 34]})

    Name  Scores
0  Harry      78
1   Matt      80
2    Bob      90
3   John      34